---
import '../styles/global.css'
const pageTitle = "Sobre mi";
import BaseLayout from '../layouts/BaseLayout.astro';

const identity = {
  firstName: "Birdie",
  country: "Argentina",
  occupation: "Diseñadora y Desarrolladora web",
  hobbies: ["Música", "Dibujo", "Fotografía"],
};

const skills = ["HTML", "CSS", "JAVASCRIPT", "REACT", "NEXT JS", "ASTRO", "FIGMA"];

const skillColor = "#0891b2";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>

	<style define:vars={{skillColor, fontWeight, textCase}}>
    h1{
      color: purple;
      font-size: 4rem;
    }  body{
        color: purple;
      }
      .skill{ 
        color: navy;
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
  </style>

    <p> Algunos datos sobre mi:</p>
    <ul>
      <li>Me llamo {identity.firstName}.</li>
      <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
      {identity.hobbies.length >= 2 &&
      <li>Dos de mis aficiones son {identity.hobbies[0]} y {identity.hobbies[2]}.</li>
    </ul> }
    <p>Mis habilidades son:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}</ul>  


</BaseLayout>
	</body>
</html>
